@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,500i,600,700,800,900);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
@font-face {
  font-family: 'aaux_prolight';
  src: url("fonts/aaux_prolight_osf.woff2") format("woff2"), url("fonts/aaux_prolight_osf.woff") format("woff"), url("fonts/aaux_prolight_osf.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'aaux_prothin_osfregular';
  src: url("fonts/aaux_prothin_osf.woff2") format("woff2"), url("fonts/aaux_prothin_osf.woff") format("woff"), url("fonts/aaux_prothin_osf.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'aaux_proregular';
  src: url("fonts/aaux_proregular_osf.woff2") format("woff2"), url("fonts/aaux_proregular_osf.woff") format("woff"), url("fonts/aaux_proregular_osf.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'aaux_promedium';
  src: url("fonts/aaux_promedium_osf.woff2") format("woff2"), url("fonts/aaux_promedium_osf.woff") format("woff"), url("fonts/aaux_promedium_osf.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'aaux_probold';
  src: url("fonts/aaux_probold_osf.woff2") format("woff2"), url("fonts/aaux_probold_osf.woff") format("woff"), url("fonts/aaux_probold_osf.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'aaux_problack';
  src: url("fonts/aaux_problack_osf.woff2") format("woff2"), url("fonts/aaux_problack_osf.woff") format("woff"), url("fonts/aaux_problack_osf.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }

html {
  scroll-behavior: smooth; }

body {
  font-family: 'aaux_proregular' !important; }

.image-border {
  border-radius: 2vw; }

.row {
  margin: 0;
  padding: 0; }

.mr-auto, .mx-auto {
  margin-left: auto !important; }

.mr-section {
  margin-top: 8vw !important; }

.align-bottom {
  align-items: baseline; }

.box-light-bg {
  background-color: #eeeeee;
  position: relative;
  top: 300px;
  height: 300px; }

.bcg-btn {
  margin-top: 2vw;
  border-radius: 2vw;
  padding: .7vw 1.4vw;
  background-image: linear-gradient(to right, #5ec4c8, #70d8a6);
  border: 0;
  color: #fff;
  font-size: .9vw;
  text-transform: uppercase;
  box-shadow: 5px 5px 15px #ddd;
  transition: all .2s ease-in; }
  .bcg-btn:hover {
    background-image: linear-gradient(to right, #70d8a6, #5ec4c8);
    transition: all .2s ease-in; }

.site-green {
  color: #32c77f; }

.white-icon {
  background: #32c77f;
  color: white; }

.w-99 {
  width: 99% !important; }

.gallery-btn {
  background-color: white;
  border-radius: 50%;
  box-shadow: 5px 5px 15px #bbb; }
  .gallery-btn i {
    color: #32c77f; }
    .gallery-btn i :before {
      opacity: .6; }
  .gallery-btn:hover {
    background-color: #32c77f; }
    .gallery-btn:hover i {
      color: white; }

/*Padding Override */
.pt-10 {
  padding-top: 6rem !important; }

h3 {
  font-size: 4rem !important;
  font-family: 'aaux_problack' !important; }

.text-small {
  font-size: 12px; }

.header {
  background: url("../img/headerBackgroundInfo.jpg") no-repeat #999;
  background-size: cover;
  min-height: 100vh;
  display: inline-block; }
  .header nav {
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .header nav div {
      width: 30px;
      height: 30px;
      margin: 1%;
      display: inline-block; }
      .header nav div i {
        color: #fff; }
      .header nav div div {
        height: 3px;
        width: 100%;
        background-color: #fff;
        margin: 5px; }
    .header nav ul {
      list-style: none; }
      .header nav ul li {
        margin: 0 1.5vw;
        padding: 5px 0;
        border-top: 3px solid transparent;
        transition: all .2s ease-in; }
        .header nav ul li:hover {
          border-top: 3px solid #32c77f; }
        .header nav ul li.active {
          border-top: 3px solid #32c77f; }
        .header nav ul li a {
          color: #fff;
          text-decoration: none;
          text-transform: uppercase;
          font-size: .9em;
          font-family: 'aaux_probold'; }
  .header .title {
    padding-top: calc( 100vh - 70vh); }
    .header .title h1 {
      color: white;
      font-family: 'aaux_probold';
      font-size: calc(4.5vw + 20px);
      padding: 0;
      line-height: 90%;
      letter-spacing: -3px; }
    .header .title ul {
      display: flex;
      padding: 0; }
      .header .title ul li {
        color: #32c77f;
        list-style: none;
        padding: 0 .2em;
        font-size: calc(1.5vw + 10px); }
        .header .title ul li:first-child::before {
          content: '';
          margin: 0;
          padding: 0; }
        .header .title ul li::before {
          color: white;
          content: "\2022";
          padding: 0 .4em 0 0;
          position: relative;
          top: 3px; }
    .header .title .down-arrow {
      height: 3vw; }

section {
  min-height: 100vh;
  display: block; }
  section h2 {
    font-size: calc(4vw + 20px);
    font-family: 'aaux_probold';
    color: #333; }
  section p {
    font-size: calc(.5vw + 12px);
    color: #999; }
  section .img-right {
    overflow: hidden;
    height: 80%; }
    section .img-right img {
      border-radius: 2vw 0 0 2vw;
      height: 100%;
      width: auto; }
  section .col-full {
    padding: 0; }
  section .gallery {
    column-count: 2; }
    section .gallery .card {
      padding: .75vw;
      border: 0px; }
      section .gallery .card:first-child {
        margin-top: 10vw; }
      section .gallery .card img {
        width: 100%;
        border-radius: 1vw; }
    section .gallery.gallery2 .card:first-child {
      margin-top: 0; }
    section .gallery.gallery2 .card:last-child {
      margin-top: 10vw; }
  section .testimonial h3 {
    font-family: Georgia, 'Times New Roman', Times, serif !important;
    font-weight: bold;
    font-size: calc(2.2vw + 12px);
    color: #333; }
    section .testimonial h3::before, section .testimonial h3::after {
      color: #32c77f; }
    section .testimonial h3::before {
      content: open-quote; }
    section .testimonial h3::after {
      content: close-quote; }
  section#ourwork .image-left img {
    width: 100%;
    border-radius: 0 2vw 2vw 0; }
  section#ourwork .image-right img {
    width: 100%;
    border-radius: 2vw 0 0 2vw; }
  section#ourwork .image-round img {
    border-radius: 2vw;
    width: auto;
    height: 100%; }
  section#ourwork .float-right div {
    margin-left: auto !important; }
  section#ourwork .video-image .play-btn {
    position: absolute;
    height: 6vw;
    width: 6vw;
    border: 0;
    border-radius: 50%;
    top: calc(50% - 6vw/2);
    left: 50%;
    background-image: linear-gradient(to right, #5ec4c8, #70d8a6);
    display: none;
    transition: 5s delay !important; }
  section#ourwork .video-image:hover .play-btn {
    display: block;
    transition: all .5s ease-in; }

.carousel-multi-item-2 .col-4 {
  float: left;
  width: 33.33%;
  max-width: 100%; }
  .carousel-multi-item-2 .col-4 .card {
    border: 0; }
    .carousel-multi-item-2 .col-4 .card img {
      border-radius: 1vw; }

.carousel-multi-item-2 .col-6 {
  float: left;
  width: 50%;
  max-width: 100%; }
  .carousel-multi-item-2 .col-6 .card {
    border: 0; }
    .carousel-multi-item-2 .col-6 .card img {
      border-radius: 1vw; }

.carousel-multi-item-2 .controls-bottom {
  position: absolute;
  bottom: 0;
  right: 10%;
  z-index: 999;
  width: 200px; }

footer p {
  font-size: calc(1vw + 10px); }
  footer p.site-green {
    font-size: calc(1vw + 8px); }

footer ul.nav-first li {
  font: calc(.5vw + 6px) Arial, Helvetica, sans-serif;
  padding: 0 1vw;
  border-right: 1px solid #999;
  line-height: 200%; }
  footer ul.nav-first li a {
    color: #333; }

footer ul.nav-last li {
  font: 1vw Arial, Helvetica, sans-serif;
  padding: 0 1vw; }
  footer ul.nav-last li a {
    color: #999;
    font-size: calc(.4vw + 5px); }
    footer ul.nav-last li a .white-icon {
      height: 1.4vw;
      width: 1.4vw;
      border-radius: 1em;
      font-size: .7vw !important;
      padding: .35vw !important; }
    footer ul.nav-last li a:hover {
      text-decoration: none;
      color: #32c77f; }

.application2 header#intro2 {
  background: url("../img/headerBackgroundDevices.jpg") no-repeat #999 top right;
  background-size: cover;
  height: 120vh; }

.application2 section#whoweare {
  margin-top: -20vh; }
  .application2 section#whoweare #carouselIndicators {
    margin-top: 10vh;
    overflow: hidden; }
    .application2 section#whoweare #carouselIndicators .carousel-inner {
      border-radius: 2vw; }
      .application2 section#whoweare #carouselIndicators .carousel-inner .carousel-item img {
        height: auto !important; }
    .application2 section#whoweare #carouselIndicators .controls-bottom {
      height: 60px;
      position: relative;
      float: right;
      width: 223px; }
  .application2 section#whoweare ul {
    display: flex;
    padding: 0; }
    .application2 section#whoweare ul li {
      color: #32c77f;
      list-style: none;
      padding: 0 .2em;
      font-size: calc(1vw + 10px); }
      .application2 section#whoweare ul li:first-child::before {
        content: '';
        margin: 0;
        padding: 0; }
      .application2 section#whoweare ul li::before {
        color: #32c77f;
        content: "\2022";
        padding: 0 .4em 0 0;
        position: relative;
        top: 3px; }

.application2 section #carouselCaption .carousel-inner {
  overflow: visible; }
  .application2 section #carouselCaption .carousel-inner .image-top img {
    position: relative;
    top: -100px;
    border-radius: 2vw; }
  .application2 section #carouselCaption .carousel-inner h3 {
    font-size: 3.5rem !important;
    height: 300px;
    line-height: 1;
    margin-top: 50px; }
  .application2 section #carouselCaption .carousel-inner .carousel-item {
    padding: 0 15%; }

.application2 section #carouselCaption .controls-bottom {
  left: 55%;
  position: relative;
  width: 200px;
  height: 125px; }

.application2 section#whatwedo .whatwedo-slide {
  overflow: hidden !important;
  margin-top: -100px; }

.application2 section#whatwedo .col-full {
  position: relative;
  top: 0; }
  .application2 section#whatwedo .col-full .col-6 {
    float: left;
    width: 50%; }

.application2 section#ourwork #carouselFull .controls-bottom {
  z-index: 999;
  position: relative;
  left: 10%;
  width: 225px; }

.application2 section#blog .col-4 img {
  max-height: 500px;
  width: auto !important;
  margin: 0 auto !important; }

.application2 section#blog h3 {
  font-size: calc(3vw + 10px) !important;
  font-family: 'aaux_probold' !important;
  color: #333;
  letter-spacing: -2px; }

.application2 section#blog p {
  font-size: calc(1vw + 10px); }
